body {
    padding: 64px;
}

/* .btn {
    padding: 16px 32px;
    background: hsl(200, 100%, 40%);
    coller: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    cursor: pointer;
    transition: background .3s;
}

.btn:hover {
    background: hsl(200,100%, 45%);
} */

/* .box {
    width: 100px;
    height: 100px;
    background: orange;

    /* animation-name: move;
    animation-duration: 2s;
    animation-iteration-count: infinite; */
    animation: move 2s 1 1s;
} */

/* @keyframes move {
    0% {
        transform: none;
    }
    80% {
        transform: translateX(200px) rotate(360deg);
    }
    100% {
        transform: translateX(300px) rotate(360deg);
    }
} */

.loading {
    width: 40px;
    height: 40px;
    border: 8px solid #ccc
    border-right-color: transparent;
    border-radius: 50%;

    animation: spin .8s infinite;
}

@keyframes spin {
    /* 0% { */
    from {
        transform: none;
    }
    /* 100% { */
    to {
        transform: rotate(360deg);
    }
}